<!DOCTYPE html>
<html>

<head>

    <title>EduGenie</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

<div class="container">

    <h1>EduGenie</h1>

    <h2>Google Gemini Powered Learning Assistant</h2>

    <form>

        <textarea
            placeholder="Ask anything..."
            rows="5">
        </textarea>

        <br><br>

        <select>

            <option>Question Answering</option>

            <option>Concept Explanation</option>

            <option>Quiz Generation</option>

            <option>Summarization</option>

            <option>Learning Path</option>

        </select>

        <br><br>

        <button>

            Submit

        </button>

    </form>

</div>

</body>

</html>